# 연산자

1. 산술연산자
2. 할당 연산자 / 복합 할당 연산자
3. 비교 연산자
4. 논리 연산자
5. 구성원(소속) 연산자

## 산술 연산자 - Arithmetic Operators

- ```+``` : 더하기
- ```-``` : 빼기
- ```*``` : 곱하기
- ```/``` : 나누기
- ```//``` : 정수 몫
- ```%``` : 나머지

In [1]:
10 / 3

3.3333333333333335

In [2]:
10 // 3

3

In [3]:
10 % 3

1

## 할당 연산자/ 복합 할당 연산자 - Assignment Operators

할당 연산자 : 변수에 값을 대입할 때 사용
```
변수명 = 값
```

복합 할당 연산자 : 연산과 할당을 합친 연산자. 좌변에 있는 것과 우변에 있는 것을 같이 연산 후 연산된 값을 왼쪽 변수에 할당
```
+=
-=
*=
/=
%=
**=
//=
```

In [4]:
a = 1
b = 2

a = a + b
a

3

In [5]:
a = 1
b = 2
 
a += b
a

3

## 비교 연산자 - Comparison Operators

두 값의 크기를 비교할 때 사용되는 연산자
- ```>```
- ```<```
- ```>=```
- ```<=```
- ```==```
- ```!=```

값은 True or False, Boolean 형태로 반환된다. 할당 연산자의 ```=```과 비교 연산자의 ```==``` 연산이 다르기 때문에 주의해서 사용해야 한다.

In [6]:
2 > 1

True

In [7]:
2 < 1

False

In [8]:
2 == 2

True

In [9]:
2 != 2

False

## 논리 연산자 - Logical Operators

```python
and : 비교 대상이 모두 True일 때만 True 반환
or : 비교 대상 중 하나만 True여도 True 반환
not : 뒤집어주기
```

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
not True

False

In [15]:
a = 2 > 1
b = 3 >= 1
print(a, b)

True True

In [16]:
a and b

True

## 구성원(소속) 연산자 - Membership Operators

특정 자료가 해당 컬렉션에 속하는지 혹은 속하지 않는지 판별하는 연산자이다.

- in : 해당 컬렉션에 속한다
- not in : 해당 컬렉션에 속하지 않는다

In [17]:
car_brands = ['volvo', 'kia']
car_brands

['volvo', 'kia']

In [18]:
'volvo' in car_brands

True

In [19]:
'hyundae' in car_brands

False

In [20]:
'hyundae' not in car_brands

True

#### 참고자료

- [회오리 파이썬 연산자](https://tensorflow.blog/%ed%9a%8c%ec%98%a4%eb%a6%ac%eb%b0%94%eb%9e%8c%ec%9d%84-%ed%83%84-%ed%8c%8c%ec%9d%b4%ec%8d%ac/%ed%8c%8c%ec%9d%b4%ec%8d%ac-%ec%97%b0%ec%82%b0%ec%9e%90/)
- [w3school Python Operators](https://www.w3schools.com/python/python_operators.asp)