# Q1.
my_name이라는 변수에 본인의 이름을 저장하고, my_pokemon에 피카츄를 저장해 보세요. (저장하고 확인까지 해보세요.)

In [1]:
my_name = '유가연'
my_name

'유가연'

In [2]:
my_pokemon = '피카츄'
my_pokemon

'피카츄'

# Q2. 
my_age라는 변수에 본인의 나이를, pokemon_age에 3을 숫자형으로 저장해 보세요.

In [4]:
my_age = 25
my_age

25

In [5]:
pokemon_age = 3
pokemon_age

3

# Q3. 
my_height에 본인의 키를 소수자리까지 저장하고,
pika_height에 피카츄의 키를 저장한 후, 각각의 type을 확인해 보세요.(단위 cm)

```
피카츄의 키는 40cm입니다
```

In [6]:
my_height = 158.2
type(my_height)

float

In [7]:
pika_height = 40
type(pika_height)

int

# Q4. 
나와 포켓몬의 나이 차이를 출력해 보세요. (my_age에서 pika_age를 뺀 값을 출력해 보세요.)

In [8]:
my_age - pokemon_age

22

# Q5. 
'피카'를 10번 출력해 보세요.

In [9]:
'피카' * 10

'피카피카피카피카피카피카피카피카피카피카'

# Q6. 
내 이름과 내 나이, 포켓몬 이름과, 피카츄 나이를 다음과 같은 형식으로 출력하는 코드를 써보세요.

```
내 이름은 선미, 10살이지.
내 포켓몬은 피카츄, 3살이야.
```

In [14]:
print('내 이름은', my_name,',', my_age,'살이지.')
print('내 포켓몬은', my_pokemon, ',', pokemon_age,'살이야.')

내 이름은 유가연 , 25 살이지.
내 포켓몬은 피카츄 , 3 살이야.

# Q7. 
내 키가 피카츄보다 큰지 확인하는 코드를 작성해 보세요. 확인 값은 불리언 타입으로 출력하세요.

In [15]:
my_height > pika_height

True

# Q8. 
kobuk_age에 3살을 저장한 후, 피카츄와 나이가 같은지 확인하여 출력하는 코드를 작성해 보세요. 확인한 값은 불리언 타입으로 출력하세요.

In [17]:
kobuk_age = 3
pokemon_age == kobuk_age

True

# Q9. 
다음은 포켓몬 노래의 가사 일부입니다. song의 공백을 포함한 문자 길이가 어떻게 되는지 출력해 보세요.

```
song = '피카츄 라이츄 파이리 꼬북이 버터플 야도란 피존투 또가스 서로생긴 모습은 달라도 우리는 모두친구'
```

In [20]:
song = '피카츄 라이츄 파이리 꼬북이 버터플 야도란 피존투 또가스 서로생긴 모습은 달라도 우리는 모두친구'
len(song)

53

# Q10. 
위 노래 song을 띄어쓰기를 기준으로 words라는 변수명에 저장해 보세요.

힌트1 : string에서 사용할 수 있는 메서드들을 확인해 보세요.

힌트2 : split()을 사용해 보세요.

In [21]:
words = song.split()
words

['피카츄',
 '라이츄',
 '파이리',
 '꼬북이',
 '버터플',
 '야도란',
 '피존투',
 '또가스',
 '서로생긴',
 '모습은',
 '달라도',
 '우리는',
 '모두친구']