### **0. 파이썬 자료 구조와 함께 사용할 수 있는 내장 함수 소개**
```python
>>> max([1, 2, 3]) # 최댓깂
3

>>> min([1, 2, 3]) # 최솟값
1

>>> sum([1, 2, 3]) # 합계
6

>>> len([1, 2, 3]) # 길이
3
```

💡참고

* https://docs.python.org/ko/3/library/functions.html

### **1. 아래 리스트에서 3번째 원소 ```'파이리'``` 를 출력해보세요.**

```
pokemon = ['피카츄', '라이츄', '파이리', '꼬부기']
```

In [2]:
pokemon = ['피카츄', '라이츄', '파이리', '꼬부기']
pokemon[2]

'파이리'

### **2. 슬라이싱을 이용해 위의 리스트 pokemon 의 1번째부터 3번째 원소까지 출력해보세요.**

In [13]:
pokemon[:3]

['피카츄', '라이츄', '파이리']

### **3. 아래 리스트를 순서대로 정렬해보세요.**

```a = [100, 5, 44, 20]```

In [8]:
a = [100, 5, 44, 20]
sorted(a)

[5, 20, 44, 100]

In [12]:
a = [100, 5, 44, 20]
a.sort()
a

[5, 20, 44, 100]

### **4. 리스트 a 의 가장 큰 값을 출력해보세요.**
> Tip. 내장함수 ```max()``` 를 사용해보세요.

In [14]:
max(a)

100

### **5. 리스트 a 의 가장 작은 값을 출력해보세요.**
> Tip. 내장함수 ```min()``` 을 사용해보세요.

In [15]:
min(a)

5

### **6. 아래 리스트의 평균을 구해보세요.**
> Tip. 내장함수 ```len()```을 사용해보세요.

In [16]:
sum(a) / len(a)

42.25

<!-- # 튜플

변경이 안된다는 것?

튜플 생성하기? - 어려운가

메소드 사용하기 - packing?

연산자 사용 - 더하기, 반복하기 **(요소 추가하기)** -->

### **7. 아래 리스트에 `'잉어킹'`을 요소로 추가해보세요.**

```water_type_pokemon = ['꼬부기', '수륙챙이', '미뇽', '갸랴도스']```

In [17]:
water_type_pokemon = ['꼬부기', '수륙챙이', '미뇽', '갸랴도스']

water_type_pokemon.append('잉어킹')
water_type_pokemon

['꼬부기', '수륙챙이', '미뇽', '갸랴도스', '잉어킹']

<!-- # 딕셔너리

**키로 값 찾기**  -->

### **8. 아래 딕셔너리에서 `'꼬부기'`(key) 에 해당하는 값(value)을 출력해보세요.**

```pokemon_evolution = {'피카츄':'라이츄', '꼬부기':'어니부기', '파이리':'리자드', '이상해씨':'이상해풀'}```

In [18]:
pokemon_evolution = {'피카츄':'라이츄', '꼬부기':'어니부기', '파이리':'리자드', '이상해씨':'이상해풀'}

pokemon_evolution['꼬부기']

'어니부기'

<!-- # 셋

중복이 없다는 것

요소 추가 제거 - add update remove clear

**셋 메소드 사용하기 - 합집합 교집합**

**리스트의 중복 제거** -->

### **9. 아래 리스트에서 중복을 제거해보세요.**
> Tip. 중복을 허용하지 않는 데이터 구조를 사용하세요.

```grass_type_pokemon = ['이상해씨', '이상해씨', '이상해풀', '이상해꽃', '이상해풀', '이상해씨']```

In [19]:
grass_type_pokemon = ['이상해씨', '이상해씨', '이상해풀', '이상해꽃', '이상해풀', '이상해씨']

In [20]:
to_set = set(grass_type_pokemon)
to_set

{'이상해꽃', '이상해씨', '이상해풀'}

### **10. 아래 두 셋(set)에 있는 모든 요소를 합쳐서 출력해보세요.**

```
water_type_pokemon = {'꼬부기', '수륙챙이', '미뇽', '갸라도스'}
rock_type_pokemon = {'꼬마돌', '롱스톤'}
```

In [21]:
water_type_pokemon = {'꼬부기', '수륙챙이', '미뇽', '갸라도스'}
rock_type_pokemon = {'꼬마돌', '롱스톤'}

water_type_pokemon | rock_type_pokemon

{'갸라도스', '꼬마돌', '꼬부기', '롱스톤', '미뇽', '수륙챙이'}

In [22]:
water_type_pokemon.union(rock_type_pokemon)

{'갸라도스', '꼬마돌', '꼬부기', '롱스톤', '미뇽', '수륙챙이'}